<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotebookRCv001.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotebookRCv001.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LanguageKey" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="EncodingCodePage" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="InputWindowHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="InputWindowWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="InputWindowTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="InputWindowLeft" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="HomeCurrentDirectoryOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="HomeCurrentDirectorySave" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderBrowserDialogHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FolderBrowserDialogWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FolderBrowserDialogTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FolderBrowserDialogLeft" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="FontFamilyName" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="FontWeightName" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FontStyleName" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TextDecoration" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="NormalFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="NormalLineSpacing" serializeAs="String">
                <value>5,0,0,0</value>
            </setting>
            <setting name="NormalFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="NormalFontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="NormalFontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="NormalTextDecoration" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalForeground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="NormalFontBackground" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="MyForeground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MyFontBackground" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="LineSpacing" serializeAs="String">
                <value>5,0,0,0</value>
            </setting>
            <setting name="MyBackground" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="MyMessagesFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyMessagesWindowHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MyMessagesWindowWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyMessagesWindowLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyMessagesWindowTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyMessagesWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SelectWindowHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SelectWindowWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SelectWindowLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SelectWindowTop" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SelectWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SelectWindowFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectAndPasteWindowHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SelectAndPasteWindowWidth" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="SelectAndPasteWindowLeft" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SelectAndPasteWindowTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SelectAndPasteWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SelectAndPasteWindowFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectAndPasteWindowDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayProgressHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayProgressWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayProgressTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayProgressLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayProgressFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DocumentTreeHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DocumentTreeWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DocumentTreeTop" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DocumentTreeLeft" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DocumentTreeFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DocumentTreeState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TextEditorHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TextEditorWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TextEditorLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TextEditorTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TextEditorState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TextEditorFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyHighlightColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DirectoryPathWithDownloadedFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="PopUpTextBoxWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PopUpTextBoxHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PopUpTextBoxLeft" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PopUpTextBoxTop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PopUpTextBoxFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EncryptPathtoLastFileOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptPathtoLastFileSave" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptPathtoLastDirectoryOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptPathtoLastDirectorySave" serializeAs="String">
                <value />
            </setting>
        </NotebookRCv001.Properties.Settings>
    </userSettings>
</configuration>